language: ruby
rvm:
  - 2.1
env:
  global:
  - GIT_COMMITTER_NAME=nacyot
  - GIT_COMMITTER_EMAIL=propellerheaven@gmail.com
  - GIT_AUTHOR_NAME=nacyot
  - GIT_AUTHOR_EMAIL=propellerheaven@gmail.com
  - secure: hdhbnwjpRLko8zVfjt9MPkrpSnyNYKncIbzcUcvvM8GWgDFKbwl/xlqkuE8XKXPb0LA8Z4eC6B5BYDZkf51lv+3cU9iJr8X4IAOPPjMZdJk6sySafFUStolgh+myuKMTYorHNbkFcViwYFMQU7XD50xWm6l2lgKu2qR9ax00Xdg=
before_install:
  - sudo apt-get install -qq openjdk-6-jdk omegat
  - gem install nokogiri
before_script:
  - rm -rf target
  - mkdir -p tm/auto
  - mkdir target
  - git clone https://github.com/nacyot/omegat-glossary.git glossary  
  - git clone https://github.com/nacyot/omegat-dictionary.git dictionary
  - git clone https://github.com/nacyot/emacs.sexy.git source
  - git clone https://github.com/nacyot/sexy.emacs.kr.git website
script:
  - /usr/lib/jvm/java-6-openjdk-amd64/jre/bin/java -jar /usr/share/omegat/OmegaT.jar . --mode=console-translate
after_success:
  - rm -rf ./target/.git
  - cp -r ./website/.git ./target/.git
  - rake rewrite_cname add_links add_link_to_translator
  - cd target
  - git checkout gh-pages
  - git add --all .
  - git commit -m 'Update pages from naycot/omegat-emacs.sexy'
  - git push --quiet https://$GH_TOKEN@github.com/nacyot/sexy.emacs.kr.git gh-pages
